hr.footer-hr
footer 
  span.logo DREAMSHARE
  .companies-list
    span.company Company
    .row-first
      span About
      span Contact
      span Press
      span Blog
    .row-second
      span Terms and Privacy
      span Help
  span.partners Partners
  .designed-logo
    span.designed DESIGNED BY
    img(src='images/logo.png', alt='')