header 
 .top-content
  .main-block
    .layer
      .layer-background
  .content-main-block
    .container-280
      .header
        span.logo-white DREAMSHARE
        .autorize-buttons
          button.log-in(type='button')
            | Log in
          button.sign-up(type='button')
            | Sign up
      .text-main-block
        span.name-text
          | DREAMSHARE
        span.title-text
          | SHARE YOUR 
          br
          |  HOLIDAY DREAM
        span.subtitle
          | And find the perfect partner to full fill it
        button.find(type='button')
          | Find your holiday partner